@charset "utf-8";
html {box-sizing:border-box}
	
	*, *:before, *:after{
		box-sizing:inherit;}
	
	*{	
		margin:0;
		padding:0;}
	

body	{
		background-color:#0f0f0f;}	
	
		
#wrapper{
		background-color:#FFFFFF;
		font-size:1.3em;
		margin-left:auto;
		margin-right:auto;
		width:1310px;
		}	
	
	header{
		background-image:url("images/adobeimg.png");
		height: 280px;
		width: 100%;}
	
	h1{ 
		font-size: 8em;
		color:#000000;
		font-family: "nexa-rust-sans-black-2", sans-serif;
		font-weight: 900;
		font-style: normal;
		padding-left: 275px;
		padding-top:-550px;
		background-repeat: no-repeat;}

	h2{ 
		color:#000000;
		font-weight: 900;
		font-style: normal;
		padding-top:-600px;
		background-repeat: no-repeat;
		font-size: 2.5em;
		font-family: "nexa-rust-sans-black-2", sans-serif;
		text-align: center;
		font-color: #ff8700;}

	h4{
		font-size:1.5em;
		padding-top: 50px;
		padding-left: 40px;
		line-height: 40px;
	}

	p{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: left;
	padding-top: 5px;
	padding-left: 40px;
	padding-right: 40px;

	}

	nav{
		color:#000000;
		over-flow:hidden;
		width:100%;
		font-family: "nexa-rust-sans-black-2", sans-serif;
	}
	
	nav li{
	float:right;
	list-style-type: none;
	padding-right: 40px;
	font-size: 30px;
	font-color:#000000;
	margin-top: 10px;
	}
	
	li{
		list-style-type: none;
		padding-left: 40px;
		line-height: 40px;
			
	}
		
	a:link{
		font-family: "nexa-rust-sans-black-2", sans-serif;
		font-size: 20px;
		color:#000000;
		text-decoration: none;
	}

	a:visited{
		font-family: "nexa-rust-sans-black-2", sans-serif;
		font-size: 20px;
		color: #000000;
		text-decoration: none;
	}

	a:hover{
		font-family: "nexa-rust-sans-black-2", sans-serif;
		font-size: 20px;
		color: #ff8700;
		background-color: #000000;
	}
	
	a:active{
		font-family: "nexa-rust-sans-black-2", sans-serif;
		font-size: 20px;
		color: #000000;
		text-decoration: none;
	}


	footer{
	clear:both;
	width:100%;
	background-color:#FF8700;
	text-align: center;	
	font-family: "nexa-rust-sans-black-2", sans-serif;	
	font-size: 1em;
	}